* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td {
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 75px;
    cursor: pointer;
}

td:nth-of-type(2) {
    border-left: 1px dashed #333;
    border-right: 1px dashed #333;
}

tr:nth-of-type(2) td {
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333;
}

